@import url(reset.css);
@import url(fonts.css);


/*-------Basic Styles--------*/
html {
    height: 100%;
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    font:16px Arial, sans-serif;
    line-height: 1.6;
    color: #fff;
    hyphens: auto;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-: border-box;
    -moz-box-: border-box;
    box-sizing: border-box;
}


a {text-decoration: none;}
a:hover {text-decoration: none;}

a:active, a:hover {outline:0;}

img {
    border: none;
    vertical-align: middle;
}


.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.left {float:left;}
.right {float: right;}


/*-------Main Styles--------*/

body {background-color: #aed4d9;}

#wrapper {
    min-width: 320px;
    max-width: 1024px;
    margin: 0 auto;
}

header {
    height: 3.6rem;
    background-color: #373c3f;
    font-size: 1.3rem;
    position: relative;
}

.navigation {
    display: none;
    float: left;
    padding: .7rem 0 0 1rem;
}
.navigation a {
    color:#f7f7f6;
    transition: color .5s;
}
.navigation a:hover {color: #ccc;}

#touch-menu {
    background-color: #000;
    padding: 0.8rem;
    display: block;
    height: 3.6rem;
    width: 4rem;
    float: right;
    cursor: pointer;
    display: none;
}

.divide {
    display: block;
    height:.2rem;
    margin:.3rem;
    background-color:#fff;
}

.links {
    display: block;
    padding: 0.4rem;
}

.links li {
    display: inline-block;
    margin-left: 1rem;
}
.links a {
    color: #afb1b2;
    cursor: pointer;
    font-size: .7rem;
    text-transform: uppercase;
}

.links a:hover {
    color: #16b2c4;
    transition: color .5s;
}

.first-li a {color: #fff;}

.main {
    background: radial-gradient(ellipse farthest-corner at 10% 10% , #16b2c4 0%, #16b2c4 10%, #078aa4 100%);
    min-height: 18rem;
    padding: 6rem 2rem 0 2.2rem;
}

.main h1 {
    font-size: 2.2rem;
    line-height: 2.5rem;
}

.main a {
    font-size: 1.2rem;
    float: left;
    color: #87d3de;
}

.main a:hover, .right-main-button a:hover {
    color: #97ecf8;
    transition: color 0.5s;
}

.right-main-button {
    float: left;
    height: 2.7rem;
    padding-left: 16rem;
    width: 2rem;
    margin-right: -1.7rem;
}

.right-main-button a {color: #fff;}

.psd-files, .Robin-Hood-h2, .right-psd-button{height: 7.4rem;}

.psd-files {background-color: #bc3183;}
.Robin-Hood-h2 {
    font-size: 1rem;
    color: #81738e;
    width: 80%;
    background-color: #27212c;
    float: left;
}

.Robin-Hood-h2 h2 {
    text-align: center;
    margin-top:2.6rem;
}

.right-psd-button {
    float: right;
    width: 20%;
    padding-top: 2.2rem;
    background-color: #bc3183;
    background-image: url(../images/button.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: 0.8rem
}


.right-psd-button a {
    background-size: 0.8rem;
    cursor: pointer;

}

.left-button-gallery {
    background-color: #5b0fa1;
    background-image: url(../images/button.png);
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    height: 32rem;
    padding:7rem 0 0 0rem;
}

.left-button-gallery a:hover {
    background-color: #4d1185;
}
.photo1 img, .photo2 img {
    width: 100%;
    height: auto;
}
.content {
    height: 100%;
    font-size: 1rem;
    background-color: #ebebeb;
    color: #7d7d7d;
    padding: 3rem 2rem;
}
.content h3 a {color: #7ab3c1;}

.content h3 {margin-bottom: 1.2rem;}

.content p {margin-bottom: 2em;}

@media(min-width: 100px) and (max-width:640px){
    /*===Touch menu styles===*/
    .links {
        display: none; 
        position: absolute;
        right: -2%;
        width: 35%;
        top: 89%;
        padding-left: 2rem;
        text-align: center;
    }

    nav {
        background-color: #373c3f;
        position: fixed;
        z-index: 999;
        top:0;
        left: 0;
        right: 0;
    }

    .links li {
        display: block;
        background-color: rgba(39,33,44,0.9);
        border-bottom: 1px solid rgba(255,255,255,0.2);;
    }

    .links a {
        color: #ccc;
        font-size: 1rem;
    }
    #touch-menu {display: block;}
    .navigation {display: block;}
}

@media(min-width:469px) and (max-width:640px) {
    html {font-size: 14px;}
}

@media (min-width:641px) {
    html {font-size: 18px;}
    .main h1 {
        font-size: 3rem;
        line-height: 2.9rem;
        margin-bottom: 1rem;

    }
    .content {
        margin-top: 11rem;
        padding: 2rem;
    }
    .main-content {
         -webkit-columns:2 11rem;
         -moz-columns:2 11rem;
         columns:2 11rem;
    }
    .content p {margin-right: 2rem;}
    .left-button-gallery, .photo1 img, .photo2 img {
        width: 33.3%;
        float: left;
        height: 11rem;
    }
}

@media (min-width: 990px) {
    html {font-size: 21px;}
    .content p {font-size: 0.8rem;}
    .main {
        min-height: 26rem;
        padding: 2rem;
        padding-top: 10rem;
    }
}

